body {
	width: 350px;
	margin: 5px auto;
	border: 1px solid #dddddd;
	border-bottom: 3px solid #dddddd;
	border-radius: 10px;
	font-family: Verdana, sans-serif;
}

#wrapper {
	padding: 10px;
}

label {
	display: block;
	margin: 0px auto;
	text-align: center;
}

button {
	display: block;
	width: 200px;
	margin: 10px auto;
	padding: 15px;
	border: 2px solid #dddddd;
	border-bottom: 3px solid #dddddd;
	border-radius: 10px;
	background-color: #dddddd;
	font-size: 16px;
	color: #ffffff;
}
	#epic {
		background-color: #085394;
	}
	#reset {
		background-color: #ff0000;
	}

h1 {
	font-size: 18px;
	margin-bottom: 0px 0px 20px 0px;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	background-color: #dddddd;
}

.red {
	color: #ff0000;
}