<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="description" content="Landing page assignment for Coding Dojo's Python Syllabus using Flask"/>
		<title>Ninjas Page</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
	</head>
	<body>
		<main>
			<section>
				<h1>All About Ninjas</h1>
				<p>A ninja (忍者?) or shinobi (忍び?) was a covert agent or mercenary in feudal Japan. The functions of the ninja included espionage, sabotage, infiltration, assassination and guerrilla warfare. Their covert methods of waging irregular warfare were deemed "dishonorable" and "beneath" the samurai-caste, who observed strict rules about honor and combat. The shinobi proper, a specially trained group of spies and mercenaries, appeared in the 15th century during the Sengoku period, but antecedents may have existed in the 14th century, and possibly in the 12th century (Heian or early Kamakura era).</p>
				<p>In the unrest of the Sengoku period (15th–17th centuries), mercenaries and spies for hire became active in the Iga Province and the adjacent area around the village of Kōga, and it is from the area's clans that much of our knowledge of the ninja is drawn. Following the unification of Japan under the Tokugawa shogunate (17th century), the ninja faded into obscurity. A number of shinobi manuals, often based on Chinese military philosophy, were written in the 17th and 18th centuries, most notably the Bansenshukai (1676).</p>
				<p>By the time of the Meiji Restoration (1868), the tradition of the shinobi had become a topic of popular imagination and mystery in Japan. Ninja figured prominently in legend and folklore, where they were associated with legendary abilities such as invisibility, walking on water and control over the natural elements. As a consequence, their perception in popular culture is often based on such legend and folklore than on the spies of the Sengoku period.</p>
				<p>Ninja is an on'yomi (Early Middle Chinese-influenced) reading of the two kanji "忍者". In the native kun'yomi kanji reading, it is pronounced shinobi, a shortened form of the transcription shinobi-no-mono (忍の者).</p>
				<p>The word shinobi appears in the written record as far back as the late 8th century in poems in the Man'yōshū. The underlying connotation of shinobi (忍) means "to steal away; to hide" and — by extension — "to forbear", hence its association with stealth and invisibility. Mono (者) means "a person".</p>
				<p>Historically, the word ninja was not in common use, and a variety of regional colloquialisms evolved to describe what would later be dubbed ninja. Along with shinobi, some examples include monomi ("one who sees"), nokizaru ("macaque on the roof"), rappa ("ruffian"), kusa ("grass") and Iga-mono ("one from Iga"). In historical documents, shinobi is almost always used.</p>
				<p>Kunoichi, meaning a female ninja, supposedly came from the characters くノ一 (pronounced ku, no and ichi), which make up the three strokes that form the kanji for "woman" (女).</p>
				<p>In the West, the word ninja became more prevalent than shinobi in the post-World War II culture, possibly because it was more comfortable for Western speakers. In English, the plural of ninja can be either unchanged as ninja, reflecting the Japanese language's lack of grammatical number, or the regular English plural ninjas.</p>
				
				<a href="/dojos/new" class="nbutton button">dojo NEWS</a>
			</section>
		</main>
	</body>
</html>
