<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Secrets</title>
    {% load humanize %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'secrets/css/secrets.css' %}">
  </head>
  <body>
    <h3>Hello {{user.first_name}}! <a href="{% url 'login:index' %}">Logout</a></h3>
    <h4 id="post_text">Post a secret: <a href="/secrets/popular">Most Popular Secrets</a></h4>
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <h5>{{message}}</h5>
      {% endif %}
    {% endfor %}
    <form action="/secrets/new" method="post">
      {% csrf_token %}
      <textarea name="secret"></textarea>
      <button type="submit" name="post">Post</button>
    </form>
    h4>Recent Secrets:</h4>
    {% if secrets %}
      {% for secret in secrets %}
        <p>
        {{secret.content}} ({{secret.created_at|naturaltime}}) <span class='italics'>{{secret.like_users.count}} likes</span>
        {% if secret.secret_user.id == request.session.userid %}
          <span class='green'>You posted this</span>
          <a href="/secrets/destroy_user/{{secret.id}}">Delete</a>
        {% else %}
          {% if user in secret.like_users.all %}
            <span class='green'>You liked this</span>
          {% else %}
            <a class='green' href="/secrets/like_user/{{secret.id}}">Like</a>
          {% endif %}
        {% endif %}
        </p>
      {% endfor %}
    {% endif %}
  </body>
</html>
