<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Assignment II: Survey Form - Sockets</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type ="text/javascript">
		$(document).ready(function () {

			// trigger connection event
			var socket = io.connect();
			var formData = '';
			var htmlString = '';

			$('#form_id').on('submit', function (event) {
				event.preventDefault();

				// Retrieve and serialize form information
				formData = $('#form_id').serializeArray();

				// Emit serialized form information
				socket.emit('posting_form', formData);
			});

			// Sockets: listen for server's response and displays data
			socket.on('random_number', function (data) {
				console.log('The server says: ', data);

				// Build string to display message
				htmlString = '<div id="results" class="unhide">';
					htmlString += '<p>Lucky number emmitted by the server is ';
						htmlString += data;
					htmlString += '</p>';
				htmlString += '</div>';

				// Display data
				$('#results').replaceWith(htmlString);
			});

			socket.on('updated_message', function (data) {
				console.log('The server says: ', data);
				$('#results').prepend('You emitted the following information to the server: ', data);
			});
		})
	</script>
</head>
<body>
	<div id="wrapper">
		<h2>Form input</h2>
		<div id="results" class="hide"></div>
		<form id="form_id">
			<label for="name">Your name:</label>
			<input type="text" id="name" placeholder="your name" name="name" value="John Doe">

			<label for="location">Dojo location:</label>
			<select id="location" name="location">
				<option>Silicon Valley</option>
				<option>Seattle</option>
				<option>Los Angeles</option>
				<option>Dallas</option>
				<option>Washington DC</option>
				<option>Chicago</option>
			</select>

			<label for="language">Favorite language</label>
			<select id="language" name="language">
				<option>PHP</option>
				<option>JavaScript</option>
				<option>Ruby on Rails</option>
				<option>Python</option>
				<option>iOS</option>
			</select>

			<label for="comment">Comment (optional)</label>
			<textarea id="comment" name="comment">Write your comment here</textarea>
			<input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>