<style type="text/css">
  p {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    color: red;
  }
  .nav li{
    display: inline-block;
  }
</style>
<div ng-controller='dashboardController'>
      <a href="#/">Log Out</a>
    <h1 class="col-xs-8">Welcome {{ user }}</h1>
    <h4><a href="#!/question">Ask a Question!</a></h4>
     <label>Search: <input ng-model="searchText"></label>


      <table class="table table-striped col-xs-12">
        <thead>
          <th>Question</th>
          <th>Answers</th>
          <th>Action</th>
        </thead>
        <tbody>
        <tr ng-repeat="question in questions | filter:searchText track by $index ">
          <td>{{question.question}}</td>
          <td>{{question.answerCount}}</td>
          <td><a href="#!/question/{{question._id}}">Show</a> <a href="#!/answer/{{question._id}}">Answer</a></td>
        </tr>
        </tbody>
      </table>

</div>
