<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Travel Plan</title>
    <style type="text/css">
    div{
      color: #1ab188;
      width: 500px;
      height: 300;
      border: 10px solid black;
      margin: auto;
      padding: 25px;
      background:rgba(19, 35, 47, 0.9);}
    .message{color: red; }
    a{
      color: white; }
    body{
          background: #c1bdba;
    }
    </style>
</head>
<body>
  <div>
    <a href="{% url 'travel_dashboard:index' %}">Home</a>
    <a href="{% url 'login:logout' %}">Log Out</a>
    <h1>Add a Trip</h1>
    <span class='message'>
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
  </span>
        <form action="{% url 'travel_dashboard:add_plan' %}" method='post'>
        {% csrf_token %}
        <p>Destination: <input type="text" name='destination' required></p>
        <p>Description: <textarea name="plan" rows="5" cols="60" required></textarea></p>
        <p>Departure Date: <input type="date" name='depDate' value={{today}}></p>
        <p>Arrival Date: <input type="date" name='arrDate' value={{today}}></p>
        <input type="submit" value='Add Plan'>

        </form>
    </div>
</body>
</html>
