<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Trip Plan</title>
    <style type= 'text/css'>
    div{
      color: #1ab188;
      width: 500px;
      height: 300;
      border: 10px solid black;
      margin: auto;
      padding: 25px;
      background:rgba(19, 35, 47, 0.9);}
    .message{color: red; }
    a{
      color: white; }
    body{
          background: #c1bdba;
    }
    </style>
</head>
<body>
  <div>
    <a href="{% url 'travel_dashboard:index' %}">Home</a>
    <a href="{% url 'login:logout' %}">Log Out</a>


    <h1>{{trip.destination}}</h1>
    <p>Planned By: {{trip.users.name}}</p>
    <p>Description: {{trip.plan}}</p>
    <p>Start Date: {{trip.startDate}}</p>
    <p>End Date: {{trip.endDate}}</p>

    <h1>Other Users Joining the trip</h1>
    {% for trip in trips %}
    <p>{{trip.users.name}}</p>
    {% endfor %}
  </div>
</body>
</html>
