<!DOCTYPE html>
<html>
    <head>
        <title>Dojo Survey - Results</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Dojo Survey - Results</h1>
        <p><label for="name">Name: </label>@ViewBag.name</p>
        <p><label for="location">Dojo Location: </label>@ViewBag.dojo_location</p>
        <p><label for="fav_lang">Favorite Language: </label>@ViewBag.fav_lang</p>
        <p><label for="comment">Comment (optional): </label>@ViewBag.comments</p>
        <a href="/">Back</a>
    </body>
</html>