@{
    ViewData["Title"] = "Home Page";
}
<h1>Register</h1>
<form action="register" method="post">
    <label for="fname">Frist Name:</label>
    <input type="text" id="fname" name="FristName"><br>

    <label for="lname">Last Name:</label>
    <input type="text" id="lname" name="LastName"><br>

    <label for="email">Email:</label>
    <input type="text" id="email" name="Email"><br>

    <label for="pw">Password:</label>
    <input type="text" id="pw" name="Password"><br>

    <label for="pwc">Password Confirm:</label>
    <input type="text" id="pwc" name="PasswordConfirm"><br>

    <input type="submit" value="Register" class="btn btn-success">

</form>
<h1>Log In</h1>
<form action="Login" method="post">
        <label for="email">Email:</label>
    <input type="text" id="email" name="Email"><br>

    <label for="pw">Password:</label>
    <input type="text" id="pw" name="Password"><br>

        <input type="submit" value="Login" class="btn btn-success">

</form>

<div>
    @{
        foreach(var error in ViewBag.errors)
        {
            //If there are any errors for a field...
            if(@error.Errors.Count > 0)
            {
                // We show the first error for that field
                <p>@error.Errors[0].ErrorMessage</p>
            }
        }
    }
</div>