<div class="row">
  <h1 class="col-xs-8">Hi {{ user }}</h1>
  <div class="col-xs-4" style="margin-top: 20px;">
    <a href="#/logout" class="btn btn-warning pull-right">Logout</a>
  </div>
  <div class="col-xs-6">
    <a href="#/questions/new" class="btn btn-primary">Add a Question</a>
  </div>
  <form class="col-xs-6 form-horizontal pull-right">
    <div class="form-group">
      <label class="col-xs-2 control-label">Search:</label>
      <div class="col-xs-10">
        <input type="text" class="form-control " placeholder="Search questions..." ng-model="filterQuestions.text">
      </div>
    </div>
  </form>


</div>

<div class="row">
  <table class="table table-striped col-xs-12">
    <thead>
      <th>Question</th>
      <th>Answers</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr ng-repeat="question in questions | filter: filterQuestions">
        <td>{{ question.text }}</td>
        <td>{{ question._answers.length }}</td>
        <td>
          <a href="#/questions/{{ question._id }}">Show</a>
          <a href="#/questions/{{ question._id }}/answers/new">Answer</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
