<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio - Home</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>Home</h1>
        <img src="~/img/mypic.jpg" alt="My face" height="300" width="200">
        <div id="about-me">
            <h4>Nicole Zurita</h4>
            <h4>About Me: </h4>
            <ul>
                <li>Current student at Coding Dojo Seattle.</li>
                <li>Interested in software development and gaming.</li>
                <li>Has a mini labradoodle named Mochi</li>
            </ul>
        </div>
        <p class="back-link"><a href="/">Back</a></p>
    </body>
</html>