<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Assignment III: Cars and Cats</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<div>
		<h1>Node: Assignment 3</h1>
		<h2>Cars</h2>
	</div>
	<ul>
		<li><a href="/cars">cars</a></li>
		<li><a href="/cats">cats</a></li>
		<li><a href="/cars/new">new car</a></li>
	</ul>
	<img src="images/pexels-photo-car1.jpg">
	<img src="images/pexels-photo-car2.jpg">
	<img src="images/pexels-photo-car3.jpg">
</body>
</html>