<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Assignment III: Cars and Cats</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<div>
		<h1>Node: Assignment 3</h1>
		<h2>Cats</h2>
	</div>
	<ul>
		<li><a href="/cars">cars</a></li>
		<li><a href="/cats">cats</a></li>
		<li><a href="/cars/new">new car</a></li>
	</ul>
	<img src="images/animal-cute-kitten-cat.jpg">
	<img src="images/animal-sitting-animals-inside.jpg">
	<img src="images/night-animal-cats-clean.jpg">
</body>
</html>