<a href="/profile">My Profile | </a>
<a href="/logout">Log Out</a>

<h3>User selected info displayed here later..</h3>
<h3>@ViewBag.SelectedUser.Name</h3>
<p>Description: @ViewBag.SelectedUser.Description</p>