@{
    DateTime currentDate = DateTime.Now;
    string formattedDate = String.Format("{0:MMM d, yyyy}", currentDate);
    string formattedTime = String.Format("{0:hh:mm tt}", currentDate);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div class="ui four column doubling stackable grid container">
  <div>
        <h1>The current time and date:</h1>
    </div>
 <div class="column">
    <p>@formattedDate</p>
    </div>

     <div class="column">
    <p>@formattedTime</p>
        </div>
    </div>

</body>
</html>